.layout-wrapper{
	background-image: none;

}
.price-wrapper{
	width: 940px;
	margin: 0 auto;
	padding: 54px 130px 0;
	background-image: url(../img/bg-price.jpg);
}
.price-route{
	font-size: 1.8em;
	padding-left: 2px;
}
.price-route-title{
	letter-spacing: 0.02em;
	margin-bottom: 17px;
}
.price-route-item{
	font-size: 0.5em;
	float: left;
	padding-left: 1px;
	padding-right: 25px;
	margin-bottom: 43px;
}
.price-route-item:after{
	content: "";
	display: block;
	background-image: url(../img/romb-small.png);
}
.price-title{
	clear: both;
	text-align: center;
	font-size: 3em;
}