/* страница МАГАЗИН */
/* общий бекграунд */
.layout-wrapper{
	background-image: none;
}
/* блок основной информации начало */
.shop-wrapper{
	width: 940px;
	margin: 0 auto;
	padding: 54px 130px 0;
	background-image: url(../img/bg-price.jpg);
}
.route{
	margin-bottom: 51px;
}
.body-leftcol{
	width: 220px;
	float: left;
	margin-right: 20px;
}
.body-leftcol-manufactory{
	margin-bottom: 43px;
}
.body-leftcol-manufactory-title{
	font-size: 1.5em;
	margin-bottom: 28px;
}
.body-leftcol-manufactory-list{
	width: 168px;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}
.body-leftcol-manufactory-item{
	list-style: none;
	margin-bottom: 18px;
}
.body-leftcol-manufactory-checklink{
	display: block;
	height: 20px;
	width: 20px;
	float: left;
	background: url(../img/check-off.png) no-repeat left center;
	margin-right: 23px;
}
.body-leftcol-manufactory-textlink{
	display:inline-block;
	height: 20px;
	text-decoration: none;
	color: #000;
}
.body-leftcol-menu{

}
.body-leftcol-menu-title{
	font-size: 1.5em;
	margin-bottom: 28px;
}
.body-leftcol-menu-link{
	display: block;
	width: 200px;
	background-color: #000;
	color: #fff;
	text-decoration: none;
	font-size: 0.8em;
	padding: 13px 0 13px 20px;
	margin-bottom: 9px;
	letter-spacing: 0.05em;
}
.body-leftcol-menu-link:hover{
	color: #000;
	background-color: #fff;
}
.body-leftcol-menu-link-display{
	color: #000;
	background-color: #fff;
}
/* правая колонка начало */
.body-rightcol{
	float: left;
	width: 700px;
	margin-top: 8px;
}
.body-rightcol-products{
	padding-left: 0px;
	margin-bottom: 24px;
}
.body-rightcol-products-item{
	width: 220px;
	float: left;
	background-color: #fff;
	color: #000;
	box-shadow: 3px 3px 20px 3px #e5e5e5;
	margin-right: 20px;
	margin-bottom: 20px;
}
.body-rightcol-products-item:hover{
	box-shadow: 3px 3px 20px 3px #ccc;
}
.body-rightcol-products-item:nth-child(3n+3){
	margin-right: 0px;
}
.body-rightcol-products-img01{
	content: url(../pict/shop_01.jpg);
}
.body-rightcol-products-img02{
	content: url(../pict/shop_02.jpg);
}
.body-rightcol-products-img03{
	content: url(../pict/shop_03.jpg);
}
.body-rightcol-products-img04{
	content: url(../pict/shop_04.jpg);
}
.body-rightcol-products-img05{
	content: url(../pict/shop_05.jpg);
}
.body-rightcol-products-img06{
	content: url(../pict/shop_06.jpg);
}
.body-rightcol-products-description{
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 0.9em;
	padding-left: 15px;
}
.body-rightcol-products-description-item{
	
}
.body-rightcol-products-description:nth-child(odd){
	margin-top: 0;
}
.body-rightcol-products-btn{
	display: block;
	text-decoration: none;
	color: #000;
	margin: 0 auto 16px;
	width: 187px;
	background-color: #e5e5e5;
	text-align: center;
	font-size: 0.9em;
	padding: 10px 0 14px;
	cursor: pointer;
}
.body-rightcol-products-btn:hover{
	background-color: #000;
	color: #fff;
}
/* пагинация */
.body-rightcol-pagination{
	margin-bottom: 47px;
}
.body-rightcol-pagination-btn{
	display: block;
	text-decoration: none;
	float: left;
	width: 43px;
	background-color: #000;
	color: #fff;
	margin-right: 7px;
	text-align: center;
	padding: 10px 0 10px;
	border-bottom: 4px solid #000;
	font-size: 0.9em;
	cursor: pointer;
}
.body-rightcol-pagination-btn:hover, .body-rightcol-pagination-btn-act{
	background-color: #fff;
	color: #000;
}
